<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.abigballofmud.flink.platform.infra.mapper.ClusterMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.abigballofmud.flink.platform.domain.entity.Cluster">
        <result column="cluster_id" property="clusterId" jdbcType="DECIMAL"/>
        <result column="cluster_code" property="clusterCode" jdbcType="VARCHAR"/>
        <result column="cluster_desc" property="clusterDesc" jdbcType="VARCHAR"/>
        <result column="job_manager_url" property="jobManagerUrl" jdbcType="VARCHAR"/>
        <result column="job_manager_standby_url" property="jobManagerStandbyUrl" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="TINYINT"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>