<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.abigballofmud.flink.platform.infra.mapper.UdfMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.abigballofmud.flink.platform.domain.entity.Udf">
        <result column="udf_id" property="udfId" jdbcType="DECIMAL"/>
        <result column="udf_name" property="udfName" jdbcType="VARCHAR"/>
        <result column="udf_desc" property="udfDesc" jdbcType="VARCHAR"/>
        <result column="udf_type" property="udfType" jdbcType="VARCHAR"/>
        <result column="udf_jar_path" property="udfJarPath" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="cluster_code" property="clusterCode" jdbcType="VARCHAR"/>
        <result column="udf_status" property="udfStatus" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>